*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.problem {
    margin: 20px 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    width: 25%;
    border: 1px solid black;
}

@media screen and (max-width: 960px) {
    .col {
        width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .col {
        width: 100%;
    }
}